<div class="container col-10">

    <div class=" w-50 mx-auto">

        <form id="f1" (submit)="sendEmail($event)" class="my-3">
            <h2>Send an OTP to Verify Your Email Mentioned Below</h2>
            
            <label class="form-label my-0" >Email</label>
            <input class="form-control" type="email" name="email" [(ngModel)]="mail" required>
            
            <label [hidden]="true">OTP</label>
            <input [hidden]="true" name="message" [(ngModel)]="inputOtp">
            
            <label [hidden]="true">AppName</label>
            <input [hidden]="true" name="appName" [(ngModel)]="appName">
            
            <label [hidden]="true">Name</label>
            <input [hidden]="true" name="some_user" [(ngModel)]="some_user">

            <button type="submit" class="btn btn-primary my-3">Send OTP</button>
        </form>
        
        <form id="f2" class="my-2">

            <label class="form-label my-0" >Enter OTP</label>
            <input class="form-control" type="password" placeholder="Enter OTP" name="otp" [(ngModel)]="otp" required>
            
            <button type="button" class="btn btn-primary my-3" (click)="verify()">Verify</button>
        </form>

    </div>
    
</div>